@page
@model Myfirstwebsite.Pages.AboutModel
@{
}

<article>
    <h2>Om sidan</h2>
    <p>Hej! Jag heter olof och studerar webbutveckling på min sista termin på mittuniversitet i sundsvall. Mina intressen förutom webbutveckling är träning, rita och spela.</p>
    <img src="/Images/photo-1499951360447-b19be8fe80f5.png" alt="bild på ett skrivbord med en dator"/>
</article>