@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <h2 >Välkommen</h2>
    <p>

        Den här sidan är skapat i Asp.NET core och fungerar som en introduktion till språket. Sidan använder  sig av razor syntaxet för att skapa  enklare funktion som bl.a. att visa dagens datum och visa tidigare lästa kurser genom användandet av en sträng Lista som loopas igenom för att skriva ut innehållet i html.
<p>
       
</section>
